@import url('./main.css');
@import url('./header.css');
@import url('./slider.css');
@import url('./introduce.css');
@import url('./audioBook.css');
@import url('./truyenAudio.css');
@import url('./footer.css');


.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    font-weight: 600;
}

.contact-info a {
    color: #101aef;
}

.contact-info a:hover {
    opacity: 0.5;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}